@model Atnd0.Models.Attendee

@{
    ViewBag.Title = "Regist";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Regist Attendee</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new {autofocus=true })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TwitterID)
        </div>
        <div class="editor-field input-prepend">
            <span class="add-on">@@</span><span>@Html.TextBoxFor(model => model.TwitterID, new {@class="span2" })</span>
            @Html.ValidationMessageFor(model => model.TwitterID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.beParty)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.beParty) Yes.
            @Html.ValidationMessageFor(model => model.beParty)
        </div>

        <p class="actions">
            <input type="submit" value="Regist" class="btn btn-primary btn-large"/>
        </p>
    </fieldset>
}

<div class="well span8">
    <p class="label">This sample site information</p>
    <p>The URL of attendees list is "@Html.ActionLink(Url.Action("List"), "List")" (username=guest, password=pa$$w0rd).<br />
        Let's try to import to Excel used by Web Query.
    </p>
    <p>The URL of API is "<a href="@Url.Content("~/api/attendees")">@Url.Content("~/api/attendees")</a>."<br />
        Let's try to
        <a href="@Url.Content("~/api/attendees?$filter ge 'N'")">filter</a>, 
        <a href="@Url.Content("~/api/attendees?$top=2")">top</a>, 
        <a href="@Url.Content("~/api/attendees?$orderby=attendeeid&$skip=2")">skip</a>.
    </p>
</div>
